@import "https://s3.amazonaws.com/fw-devtools/fonts/styles.css";
@import "https://fw-devtools.s3.amazonaws.com/fonts/fontface.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html > body {
  .fiwi-debugger {
    position: fixed;
    //  background: rgba(0,0,0,.5);
    background: white;
    right: 15px;
    bottom: 15px;
    z-index: 999999999999999;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    width: 300px;
    //  transform: translate3d(0, -15px, 0);
    padding: 0 20px;
    opacity: 1 !important;

    .debug-notice {
      position: fixed;
      bottom: 0;
      left: 0;
      line-height: 1;
      opacity: .75;
      width: 475px;
      background: white;
      border-radius: 0;
      padding: 6px 15px;
      padding-bottom: 4px;
      transition: .3s ease;
      right: 0;
      width: 100%;
      padding: 5px 5px 5px 5px;

      .notice-close {
        margin-right: 5px;
      }

      &.disabled {
        opacity: 0;
        pointer-events: none;
      }

      @media (max-width:768px) {
        display: none;
      }
    }

    .debug-notice p {
      margin: 0;
      line-height: 1;
      font-family: 'Gotham';
      //    font-style: italic;
      text-transform: capitalize;
      letter-spacing: -.75px;
      font-size: 16px;
      text-align: right;
      color: black;
      text-align: center;
      font-weight: bold;

      a {
        color: #eb3a24;
        font-family: inherit;

        &:before {
          content: none;
        }
      }
    }

    .debug-form-container {
      height: 0;
      overflow: hidden;
      padding: 0;
      margin: 0;
      background: none;
      box-shadow: none;
    }

    &.active {
      .debug-notice {
        opacity: 0;
      }

      //    transform: translate3d(0, 0, 0);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
      padding: 20px;

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }

      .debug-form-container {
        height: auto;
        overflow: visible;
      }

      .info-toggle {
        opacity: 1;

        svg {
          #info {
            opacity: 0;
            transform: scale(0);
          }

          #close {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

    p {
      font-family: 'Champion';
      margin: 0;
      font-size: 2em;
      font-weight: normal;
      text-transform: uppercase;
      color: #eb3a24;
      line-height: 1;
    }

    .info-toggle {
      display: block;
      text-align: center;
      padding: 0;
      border-radius: 100%;
      position: absolute;
      bottom: -5px;
      right: -5px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      font-size: 1em;
      opacity: .75;
      transition: 0.3s cubic-bezier(.25, .8, .25, 1);
      height: 36px;
      width: 36px;

      svg {
        height: 36px;
        width: 36px;

        #info,
        #close {
          transition: 0.3s cubic-bezier(.25, .8, .25, 1);
          transform-origin: 50% 50% 0;
        }

        #close {
          transform: scale(0);
          opacity: 0;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    input {
      border: none;
      padding: 1em .25em .25em;
      margin-bottom: 1em;
      width: 100%;
      font-family: 'Gotham';
      font-size: 12px;
      line-height: 1.5;
      outline: none;
      text-overflow: ellipsis;
    }

    .send,
    #downloadLnk,
    #prepareScreen {
      display: block;
      background: #eee;
      padding: .5em 0;
      color: #eb3a24;
      max-width: 200px;
      text-align: center;
      font-family: 'Champion';
      margin: 0;
      font-size: 24px;
      font-weight: normal;
      text-transform: uppercase;
      color: #eb3a24;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      text-decoration: none;

      i {
        font-size: 16px;
        margin-right: 4px;
        position: relative;
        top: -3px;
      }

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background: #eb3a24;
        color: white;
      }

      &.disabled {
        pointer-events: none;
        filter: grayscale(1);
        opacity: .5;
        box-shadow: none;
      }
    }

    #downloadLnk,
    #prepareScreen {
      margin-bottom: 5px;
    }
  }
}

.screenshot {
  display: none;
  //  overflow: hidden;
}

html {
  .prep-overlay {
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999999999999;
  }

  &.prepare-screenshot {
    .prep-overlay {
      opacity: 1;

      img {
        position: absolute;
        width: 50%;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.1);
        z-index: 1000;
        top: 50%;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
      }

      &:before {
        content: 'Generating Screenshot...';
        background: black;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        opacity: .75;
        color: white;
        padding: calc(44vh) 0;
        display: block;
        font-family: 'Gotham';
        text-align: center;
      }

      &:after {
        content: '';
        display: inline-block;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #eb3a24;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: donut-spin 1.2s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1001;
      }
    }

    &.finished-screenshot {
      .prep-overlay {
        &:before {
          content: 'Screenshot Complete. Please download and attach to email.'
        }

        &:after {
          animation: donut-spin-finished 1s ease 1;
        }
      }
    }

    &.finished-finished {
      .prep-overlay {
        &:after {
          border: 4px solid #eb3a24;
          border-top: none;
          border-radius: 0;
          width: 15px;
          transform: translate3d(-50%, -50%, 0) rotate(755deg);
          border-left: none;
          transition: all .3s cubic-bezier(.25, .8, .25, 1);
        }

        img {
          opacity: 1;
          transform: translate3d(-50%, -50%, 0) scale(1);
          pointer-events: all;
        }
      }
    }
  }
}

@keyframes donut-spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes donut-spin-finished {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  50% {
    border: 4px solid #eb3a24;
    //    border-radius: 0%;
    width: 30px;
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(755deg);
    border-color: #eb3a24;
    //    border-left: none;
    //    border-top: none;
    //    border-radius: 0;
    //    width: 15px;
  }
}
